<section class="lg:py-20 py-10 bg-gray-50">
    <div class="container mx-auto px-4">
        <div class="flex flex-col mb-12">
            <h2 class="text-3xl md:text-4xl font-bold text-blue-900 mb-6">
                OUR LATEST INSIGHTS
            </h2>
            <p class="text-xl text-gray-700">
                Stay updated with the latest trends, case studies, and insights
                about data collection in Africa.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {{ $featuredPosts := where .Site.RegularPages "Params.tags" "intersect" (slice "featured") }}
            {{ range first 3 $featuredPosts }}
            <div class="rounded-lg overflow-hidden transition-all lg:mb-20 sm:mb-10 mb-5 duration-300 h-full">
                <a href="{{ .RelPermalink }}" class="group">
                    <div class="aspect-w-16 aspect-h-9 overflow-hidden">
                        {{ with .Params.featured_image }}
                        <img src="{{ . }}" alt="{{ $.Title }}"
                            class="w-full h-56 object-cover transition-transform duration-500 group-hover:scale-105" />
                        {{ else }}
                        <div class="bg-black w-full h-full relative">
                            <div class="absolute left-10 top-12 w-16 h-16 bg-green-400 transform rotate-45"></div>
                            <div class="absolute left-24 top-8 w-20 h-20 bg-purple-500 transform rotate-45"></div>
                            <div class="absolute right-10 top-8 w-16 h-16 bg-blue-600 transform rotate-45"></div>
                            <div class="absolute right-32 top-12 w-20 h-20 bg-blue-400 rounded-full opacity-70"></div>
                        </div>
                        {{ end }}
                    </div>
                </a>

                <div>
                    {{ with .Params.tags }}
                    <div class="flex flex-wrap gap-2 mb-2 mt-3">
                        {{ range . }}
                        <a href="/tags/{{ . | urlize }}"
                            class="text-blue-600 hover:underline uppercase hover:text-blue-800 font-medium text-xs">
                            {{ . }}
                        </a>
                        {{ end }}
                    </div>
                    {{ end }}

                    <a href="{{ .RelPermalink }}" class="group">
                        <h3
                            class="text-xl font-bold text-blue-900 mb-3 group-hover:text-blue-600 hover:underline transition-colors">
                            {{ .Title }}
                        </h3>

                        <p class="text-gray-700 mb-4 line-clamp-3">
                            {{ .Summary | truncate 110 }}
                        </p>

                        <div class="flex items-center gap-6 mt-auto">
                            <span class="text-sm text-gray-900 font-medium">{{ .Params.author }}</span>
                            <svg class="w-1 h-1 fill-current text-gray-500" viewBox="0 0 4 4">
                                <circle cx="2" cy="2" r="2" />
                            </svg>
                            <span class="text-sm text-gray-500">{{ .Date.Format "January 2, 2006" }}</span>
                        </div>
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>