<section class="lg:py-20 py-10 bg-gray-50">
    <div class="container mx-auto px-4">
        <div class="flex flex-col mb-12">
            <h2 class="text-3xl md:text-4xl font-bold text-blue-900 pb-6 border-b border-b-gray-200">
                Related Posts
            </h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {{ $currentPage := . }}
            {{ $tags := .Params.tags }}
            {{ $relatedPosts := where .Site.RegularPages "Type" "blog" }}
            {{ $relatedPosts := where $relatedPosts "Permalink" "!=" .Permalink }}
            {{ $relatedPosts := where $relatedPosts "Params.tags" "intersect" $tags }}
            {{ range first 3 $relatedPosts }}
            {{ partial "blog-card.html" . }}
            {{ end }}
        </div>
    </div>
</section>