{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120,
        "bracketSameLine": false,
        "singleAttributePerLine": true,
        "vueIndentScriptAndStyle": true
      }
    }
  ]
}
