{{ define "main" }}

<div class="relative lg:h-[60vh] h-screen pt-16">
    <div class="absolute inset-0 bg-black opacity-60 z-10"></div>
    <div id="hero-background" class="absolute inset-0 bg-cover bg-center"></div>

    <div id="dots-container" class="absolute inset-0 z-20"></div>

    <div
        class="relative z-30 container mx-auto px-4 h-full flex flex-col justify-center items-start text-left text-white">
        <p class="text-sm uppercase tracking-widest mb-20 flex items-center">
            {{ .Title | upper }} <span class="ml-2 inline-block w-12 h-px bg-white"></span>
        </p>
        <h1 class="text-4xl md:text-5xl font-bold mb-6 max-w-3xl leading-tight">
            Making things happen at <br class="hidden lg:inline-block"> Open Data Uganda
        </h1>
    </div>
</div>


<div class="container mx-auto px-4 lg:py-20 py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{ $paginator := .Paginate .Data.Pages }}
        {{ range $paginator.Pages }}
        <div class="rounded-lg overflow-hidden transition-all duration-300 h-full">
            <a href="{{ .RelPermalink }}" class="group">
                <div class="aspect-w-16 aspect-h-9 overflow-hidden">
                    {{ with .Params.featured_image }}
                    <img src="{{ . }}" alt="{{ $.Title }}"
                        class="w-full h-56 object-cover transition-transform duration-500 group-hover:scale-105" />
                    {{ else }}
                    <div class="bg-black w-full h-full relative">
                        <div class="absolute left-10 top-12 w-16 h-16 bg-green-400 transform rotate-45"></div>
                        <div class="absolute left-24 top-8 w-20 h-20 bg-purple-500 transform rotate-45"></div>
                        <div class="absolute right-10 top-8 w-16 h-16 bg-blue-600 transform rotate-45"></div>
                        <div class="absolute right-32 top-12 w-20 h-20 bg-blue-400 rounded-full opacity-70"></div>
                    </div>
                    {{ end }}
                </div>
            </a>

            <div>
                {{ with .Params.tags }}
                <div class="flex flex-wrap gap-2 mb-2 mt-2">
                    {{ range . }}
                    <a href="/tags/{{ . | urlize }}"
                        class="text-blue-600 uppercase hover:text-blue-800 font-medium text-sm">
                        {{ . }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}

                <a href="{{ .RelPermalink }}" class="group">
                    <h3 class="text-xl font-bold text-blue-900 mb-3 group-hover:text-blue-600 transition-colors">
                        {{ .Title }}
                    </h3>

                    <p class="text-gray-700 mb-4 line-clamp-3">
                        {{ .Summary | truncate 120 }}
                    </p>

                    <div class="flex items-center justify-between mt-auto">
                        <span class="text-sm text-gray-500">{{ .Date.Format "Jan 2, 2006" }}</span>
                    </div>
                </a>
            </div>
        </div>
        {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}